
<div class="card-product shadow">
  <div class="card-image" style='background-image: url("<%= cl_image_path item.photo.key %>"); background-size: cover; background-position:center;'>
    &nbsp;
  </div>
  <div class="card-product-infos">
    <div class="row justify-content-between px-3">
      <div>
        <h2><%= link_to item.name, item %></h2>
        <h5><%= item.category %></h5>
        <p><i class="fas fa-home pr-2"></i><%= item.user.address %></p>
        <p><bold><%= item.user.first_name %></bold>  <i class="fas fa-phone pl-2 pr-1"></i><%= item.user.phone_number %></p>
        <a href="#"><i class="far fa-envelope pr-2"></i><%= item.user.email %></a>

      </div>
      <div class="d-flex flex-column text-right justify-content-between py-3">
        <div>
          <h3 class="mb-3"><%= item.price %> kr <span class="text-muted">/day</span></h3>
        </div>
        <div>
          <%= link_to "More info", item, class: "rent-button"%>
        </div>
      </div>
    </div>
  </div>
</div>
