
<div class="card-product shadow">
  <div class="card-image" style='background-image: url("<%= cl_image_path item.photo.key %>"); background-size: cover; background-position:center;'>
    &nbsp;
  </div>
  <div class="card-product-infos">
    <div class="row justify-content-between px-3">
      <div class="card-index-content">
        <h2><%= link_to item.name, item %></h2>
        <div class="card-show-details">
         <div class="card-index-owner-category">
          <i class="fas fa-tools"></i>
          <%= item.category %>
        </div>
      <div class="card-index-item-address">
       <i class="fas fa-home"></i>
       <%= item.address %>
      </div>

      </div>
      </div>
      <div class="d-flex flex-column text-right justify-content-between py-3">
        <div>
          <h3 class="mb-3"><%= item.price %> kr <span class="text-muted">/day</span></h3>
        </div>
        <div>
          <%= link_to "More info", item, class: "rent-button"%>
        </div>
      </div>
    </div>
  </div>
</div>
