<div class="shop-card">
  <img src="<%= cl_image_path item.photo.key %>" />

  <div class="shop-card-content">

    <div class="card-owner-category">
      <i class="fas fa-tools"></i>
      <%= item.category %>
    </div>


    <div class="title">
      <h5><%= link_to item.name, item, class: "text-decoration-none" %></h5>
    </div>

    <div class="cta">
      <div class="price"><%= item.price %> Kr</i></div>
      <div class="discount"><%= rand(5..20) %>% off</div>
    </div>
  </div>
</div>
