

<div class='dashboard'>

  <div class="dashboard-title">
    <h1>Hi, <%= @user.first_name %>! Here's your dashboard.</h1>
  </div>

  <div class="dashboard-content-wrap">

    <div class='dashboard-element'>
      <div class='dashboard-header'>
        <h2>My tools</h2>
        <div class="db-button-wrap">
        <%= link_to new_item_path, class: 'button-icon-dashboard' do %>
          <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </div>

      <ul class='dashboard-list'>
        <% @my_tools.each do |item| %>
          <li>
            <%= cl_image_tag item.photo.key, class:"db-image" %>
            <div class="db-el-container">
                <h5><%= link_to "#{item.name}", item_path(item) %> </h5>
                <div class="db-card-details">
                  <p><%= item.price %> kr / day </p>
                  <p><%= item.available ? "available" : "unavailable" %></p>
                </div>
            </div>
            <div class="db-button-wrap">
                <%= link_to item_path(item), class: 'button-icon-dashboard',
                    method: :delete,
                    data: { confirm: "Are you sure?" } do %>
                    <i class="far fa-trash-alt"></i>
                    <% end %>
                    <%= link_to edit_item_path(item), class: 'button-icon-dashboard' do %>
                    <i class="fas fa-edit"></i>
                    <% end %>
              </div>
          </li>
        <% end %>
      </ul>
    </div>





    <div class='dashboard-element'>

      <div class='dashboard-header'>
         <h2>Tools I am renting</h2>
      </div>

      <ul class='dashboard-list'>
        <%  @my_rentals.each do |rental| %>
          <li>
            <%= cl_image_tag rental.item.photo.key, class:"db-image" %>
            <div class="db-el-container">
              <h5><%= link_to "#{rental.item.name }", item_path(rental.item) %> </h5>
              <div class="db-card-details">
                <p><%= rental.item.price %> kr / day </p>
                <p class="show-owner"><%= link_to "#{rental.item.user.first_name}", items_path  %></p>
              </div>
              </div>
              <div class="db-button-wrap">
              <%= link_to rental_path(rental),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: "button-icon-dashboard" do %>
                <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

</div>




