<div class="show-page-wrap">

  <div class="show-content-wrap">
    <div class="show-content-info">

        <div class="button-wrap">
         <%= link_to items_path, class: 'button-icon' do %>
            <i class="fas fa-long-arrow-alt-left"></i>
          <% end %>
        <% if current_user == @item.user %>
          <%= link_to edit_item_path(@item), class: 'button-icon' do %>
            <i class="fas fa-edit"></i>
          <% end %>
           <%= link_to @item, class: 'button-icon',
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>

      <h1><%= @item.name %></h1>

      <p><%= @item.description %></p>


      <div class="show-details">
        <div class="show-owner-category">
          <i class="fas fa-user"></i>
          <%= @item.user.first_name %>
        </div>
        <div class="show-owner-category">
          <i class="fas fa-tools"></i>
          <%= @item.category %>
       </div>
      </div>

      <div class="price-wrap">
        <div class="show-available">
          <%= link_to "Check availability", "#", class: 'rent-button', id: 'rent-form-button' %>
        </div>
          <h3><%= @item.price %> kr / day</h3>
      </div>

      <%= render 'items/rental_form', item: @item, rental: @rental %>

    </div>

    <%= cl_image_tag @item.photo.key, class:"show-image" %>

  </div>
</div>


