<div class="show-page-wrap">

  <div class="show-content-wrap">
    <div class="show-content-info">

       <div class="show-category">
        <i class="fas fa-tools"></i>
        <%= @item.category %>
      </div>

      <h1><%= @item.name %></h1>

      <p><%= @item.description %></p>

      <div class="price-wrap">
        <h3><%= @item.price %> kr / day</h3>
        <div class="show-available">
        <%= @item.available ? "available" : "unavailable" %>
        </div>
      </div>

      <div class="button-wrap">

        <%= link_to "Check availability", new_item_rental_path(@item), class: 'rent-button' %>
        <% if current_user == @item.user %>
          <%= link_to edit_item_path(@item), class: 'button-icon' do %>
            <i class="fas fa-edit"></i>
          <% end %>
           <%= link_to @item, class: 'button-icon',
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
        <% end %>



      </div>

    </div>

    <%= cl_image_tag @item.photo.key, class:"show-image" %>

  </div>



</div>


